.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: $border;
    
    &__content{
        display: flex;
        div{
            margin-left:2rem;
        }
    }
    
    &__image{
        width: 120px;
        height: 80px;
        border-radius: 5px;
    }

    &__price{
        color: $color-yellow;
        font-weight: 600;
    }
    
    // i:hover{
    //     cursor: pointer;
    // }
    
}

