//colors
$color-black: #2E2E2F;
$color-white:#FFFFFF;
$color-orange:#FF9401;
$color-grey:#F9F8F4;
$color-blue:#7AB5FB;
$color-yellow:#FFC448;
$light-orange:#FFFAF3;
$light-grey:#f2f2f2;
$dark-grey:#787878;

$shadow-color: rgba(0,0,0,0.09);
$button-shadow: 0px 15px 24px -6px $color-yellow;
$tab-shadow: 0px 15px 24px 5px $light-grey;
$box-shadow: 4px 10px 26px -8px rgba(0,0,0,0.51);
$background-color: #FFFEFC;

$border: 2px solid $color-grey;
$border-radius: 10px;

